@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --cor-background: linear-gradient(to top, rgb(56, 0, 159), rgb(68, 68, 249));
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.body {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container__left {
    color: white;
    justify-content: start;
    align-items: center;
    background: var(--cor-background);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: var(--fonte-principal);
    height: 19rem;

}

.container__left__tittle {
    opacity: 60%;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.container__circle__results {
    background: var(--cor-background);
    align-items: center;
    border-radius: 1500px;
    padding: 3.5rem;
    justify-content: top;
    height: 40px;
    width: 40px;


}

.circle__results__result {
    font-weight: bold;
    font-size: 3rem;
    transform: translateY(-10px);
}

.circle__span {
    opacity: 60%;
    width: 3rem;
}

.container__footer {
    text-align: center;
    gap: 5px;
    font-size: 1.1rem;
    margin-top: 10px;
}

.container__footer__text {
    opacity: 60%;
    font-size: 0.9rem;
    margin: 0 1em;
}

.right__tittle{
    margin: 1rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Bacasime Antique', serif;
}

.card{
    display: flex;
    height: 3.5rem;
    margin: 0 2rem;
    border-radius: 12px;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-between;
    
}

.first__content{
    gap: 8px;
    display: flex;
    font-weight: 700;
    margin-left: 0.5rem;
}

.second__content{
    display: flex;
    font-weight: 700;
    margin-right: 0.5rem;
}

.second__number{
    opacity: 50%;
}


/* COLOR CARDS */

.card__red{
    background:rgb(255, 210, 210);
}

.card__yellow{
    background:rgb(250, 250, 190);
}

.card__green{
    background:rgb(210, 255, 215);
}

.card__blue{
    background:rgb(212, 210, 255);
}

/* COLOR TEXT CARDS */

.text__red{
    color: rgb(226, 90, 90);
    font-weight: 900;
}
.text__yellow{
    color: rgb(255, 159, 4);
    font-weight: 900;
}

.text__green{
    color: rgb(55, 222, 86);
    font-weight: 900;
}

.text__blue{
    color: rgb(84, 137, 227);  
}

.button__container{
    border-radius: 12px;
    height: 3rem;
    display: flex;
    text-align: center;
    margin: 2.6rem 2rem;
    background: rgb(68, 68, 249);
    
}

.button__container:hover{
    background-color: rgb(1, 1, 215) ;
}

.button{
    text-decoration: none; 
    color: white;
}